@import '../../_config.scss';

header {
    background: $black;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1366px;
        margin-left: auto;
        margin-right: auto;
        font-family: arial;
    }

    .logo {
        font-size: 2em;
        width: 375px;
        margin: 1.5em 0px 1.5em 1em;

        a {
            text-decoration: none;
            color: $white;
        }
    }
}

nav {
	float: right;
    padding-right: 1em;
    
    ul li {
	    list-style-type: none;
	    padding-left: 20px;
	    text-align: right;
        display: inline-block;

        a {
            text-decoration: none;
            color: $white;
            font-size: 1.1em;
            margin-left: 1em;
            margin-right: 1em;

            &:hover {
                color: #87827B;
            }
        }

        .selected {
            font-weight: 900;
        }
    }
}


/*TABLET*/
@media screen and (max-width: 1024px) {
	.logo {
		width: 250px;
		margin: 1em 0px 1em 1em;
	}
	
	nav ul li {
        display: block;
        
        a {
            margin-right: 0;
            margin-left: 0;
        }
	}
}


/*MOBILE*/
@media screen and (max-width: 400px) {
	.logo {
		width: 175px;
		margin: 2em 0px 2em 1em;
	}
	
	nav ul li a {
		font-size: 0.9em;
	}
}